.header-one {
  &.-style-two {
    .menu {
      background-color: setColor(blue);
      &-search {
        &__form {
          &-input {
            .ant-btn {
              background-color: setColor(red);
              &:hover {
                background-color: lighten(setColor(red), 20%);
              }
            }
          }
        }
      }
      &-functions {
        .menu-function-item {
          span {
            background-color: setColor(red);
          }
        }
      }
    }
    .top-nav {
      background-color: setColor(blue);
    }
  }
}
.checkout-form .ant-form-item-control .ant-form-item-control-input-content input{
font-weight: 2;
}
.header-scroll-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  &.fixed {
    position: fixed;
    animation: example 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
    .header-one {
      .top-nav {
        display: none;
      }
      .menu-mobile-search {
        display: none;
      }
    }
  }
}

@keyframes example {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}


#product-detail{
 background-color: white; 
 max-width: 1470px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    height: 644px;
}
#__next{
  background:#f2f4f5
}
.shop-layout{
  background:#f2f4f5
}
.footer{
  background:#f2f4f5
}
#product-detail-one-bottom{
  background:#f2f4f5
}
#product-shop-info{
  margin-top: -9rem;
  padding: 1rem;
  background: white;
}

#description-product{
  background-color: white;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.order-content{
  background-color: white;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.slick-list{
 height: auto;
}