{
  "type": "mysql",
  "host": "103.142.26.130",
  "port": 4306,
  "username": "root",
  "password": "123567890",
  "database": "k-ecommerce",
  "entities": ["src/**/**.entity{.ts,.js}"],
  "synchronize": true
}